extends ../layouts/main.pug

block content
  
  h2(class="text-2xl mb-4") تفاصيل الفاتورة

  // عرض تفاصيل الفاتورة
  div(class="bg-gray-100 p-6 rounded-md shadow-md")
    p(class="text-lg font-bold") تاريخ الفاتورة: 
    span= bill.bill_date.toDateString()

    p(class="text-lg font-bold mt-2") الطرف: 
    span= bill.party

    p(class="text-lg font-bold mt-2") نوع الفاتورة: 
    span= bill.type

    p(class="text-lg font-bold mt-2") المسؤول: 
    span= bill.responsible

    p(class="text-lg font-bold mt-2") القيد: 
    span= bill.restriction

    p(class="text-lg font-bold mt-2") الاسم: 
    span= bill.name

    p(class="text-lg font-bold mt-2") العدد: 
    span= bill.count

    p(class="text-lg font-bold mt-2") السعر بالدينار العراقي: 
    span= bill.diq_price

    p(class="text-lg font-bold mt-2") السعر بالدولار الأمريكي: 
    span= bill.usd_price

    p(class="text-lg font-bold mt-2") التفاصيل: 
    span= bill.detail || "لا توجد تفاصيل"

    p(class="text-lg font-bold mt-2") ملاحظة: 
    span= bill.note || "لا توجد ملاحظات"

    p(class="text-lg font-bold mt-2") رقم المركبة: 
    span= bill.vhicle_number || "لا يوجد رقم مركبة"

  // أزرار العمليات
  div(class="mt-6 space-x-4")
    a(href=`/bills/${bill._id}/edit` class="inline-block ml-1 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600") تعديل الفاتورة   
      i(class="fa-solid fa-edit")
    form(action=`${bill._id}/delete`, method="POST" class="inline-block")
      button(type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600") حذف الفاتورة   
        i(class="fa-solid fa-trash")
    a(href=`/bills/${bill._id}/invoice` class="mr-4 bg-cyan-600 text-white p-2 pr-5 pl-5 rounded-lg") طباعة  
      i(class="fa-solid fa-print")
    a(href="/bills" class="inline-block bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400") العودة إلى القائمة
